@model Association;

<h1 class="text-center mt-20">@ViewBag.selectedCate.Name</h1>

<div class="row">
    <div class="col-sm-6">
        <h4 class="text-center">Categories:</h4><br>
        @foreach (var prod in @ViewBag.selectedCate.Associations)
        {
        <ul>
            <li>@prod.AssociationProducts.Name</li>
        </ul>
        }
    </div>
    <div class="col-sm-6">
        <h4>Add Categories:</h4><br>
        <form asp-action="AddProduct" asp-controller="Category" method="POST">
            <span class="text-danger font-weight-bold" asp-validation-for="ProductId"></span>
            <select class="form-control" asp-for="ProductId">
                <option value="" disabled="disabled">Choose a Product</option>
                @foreach (var prod in @ViewBag.products)
                {
                <option value="@prod.ProductId">@prod.Name</option>
                }
            </select>
            <input asp-for= "CategoryId" type="hidden" value="@ViewBag.selectedCate.CategoryId">
            <button style="margin-top: 20px;" class="btn btn-success">Add Product</button>
        </form>
    </div>
</div>